{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Les sorties{% endblock %}

{% block body %}

    <div class="container-fluid pt-3">

        <div class="row">
            <div class="col text-right">
                <p>Date du jour : (date_du_jour)</p>
                <p>Participant : {{ app.user.prenom }} {{ app.user.nom }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3>Filter les sorties</h3>
            </div>
        </div>

        <form>
            <div class="row">

                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroup_site">Site</label>
                        </div>
                        <select class="custom-select" id="inputGroup_site">
                            <option selected>Tous les sites</option>
                        </select>
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroup_nom">Nom de la sortie</label>
                        </div>
                        <input class="form-control" id="inputGroup_nom" type="text">
                    </div>
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Dates :</label>
                        </div>
                        <input class="form-control" type="date" id="inputGroup_dateDebut">
                        <input class="form-control" type="date" id="inputGroup_dateFin">
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisOrga">
                        <label class="form-check-label" for="checkbox_jeSuisOrga">
                            Sorties dont je suis l'organisateur.rice
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisInsc">
                        <label class="form-check-label" for="checkbox_jeSuisInsc">
                            Sorties auxquelles je suis inscrit.e
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisPasInsc">
                        <label class="form-check-label" for="checkbox_jeSuisPasInsc">
                            Sorties auxquelles je ne suis pas inscrit.e
                        </label>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox_sortiesPassees">
                        <label class="form-check-label" for="checkbox_sortiesPassees">
                            Sorties passées
                        </label>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-2">
                    <button class="btn btn-lg btn-primary mt-3" type="submit">Rechercher</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}
