{% extends 'base.html.twig' %}
{#{%  form_theme sortieForm 'bootstrap_4_layout.html.twig' %}#}

{% block title %}Créer une sortie | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col">
                <h3>Créer une sortie</h3>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5">
                {{ form_start(sortieForm) }}
                {{ form_widget(sortieForm) }}
                {{ form_end(sortieForm) }}
            </div>

        </div>
    </div>
{% endblock %}

