html {
    font-family: 'Raleway', sans-serif;
}

input, button, submit {
    display: inline-block;
    border:none;
    background-color: transparent;
    color: #007bff;

}

.form-inline-delete {
    display: inline-block;
}

.form-inline-delete:hover button {
    text-decoration: underline;
}

.faux-lien {
    padding: 0 !important;
}

