<html lang="fr">
<head></head>
<body>
    <h3>Modification d'une sortie</h3>
    <p>{{ utilisateur.nom }} {{ utilisateur.prenom }} vient de modifier une sortie :</p>
    <p><b>{{ sortie.nom }}</b></p>
</body>
</html>