<html lang="fr">
<head></head>
<body>
    <h3>Nouvelle publication</h3>
    <p>{{ utilisateur.nom }} {{ utilisateur.prenom }} vient de créer une nouvelle sortie :</p>
    <p><b>{{ sortie.nom }}</b></p>
</body>
</html>