<html lang="fr">
<head></head>
<body>
<h3>Mot de Passe oublié : </h3>
<p>Bonjour {{ utilisateur.nom }} {{ utilisateur.prenom }} ,<br> </p>
<p>Voici, le nouveau mot de passe demandé qui vas vous permettre de connecter : <h3>{{ utilisateur.password }}</h3></p>

<p>Nous vous conseillons de modifiez notre mot de passe à votre nouvelle connexion.</p>
</body>
</html>