<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
            <link rel="stylesheet" href="{{ asset('assets/css/sortir-com.css') }}">
        {% endblock %}
    </head>
    <body>
        {% include 'includes/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script rel="script/javascript" src="{{ asset('js/filtres.js') }}"></script>
        {% endblock %}
    </body>
</html>
